.venv
.claude
.ruff_cache
.pytest_cache/
.mypy_cache
.coverage
__pycache__/
assets/node_modules/
public/

.coverage
.dockerignore
.env*
docker-compose.override.yml

.pre-commit-config.yaml
htmlcov
notes.md
