# this is the template for the .env file
# copy it to `.env` and edit is as required

# disable the warning about unused variables
# shellcheck disable=SC2034
# vi: ft=sh

FLASK_APP="src/opendlp/entrypoints/flask_app.py"
