{% extends "base.html" %}
{% block title %}{{ _("Set Password") }} - OpenDLP{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ _("Set Password") }}</h1>
            <p class="govuk-body">
                {{ _("Set a password to add it as an additional authentication method. You will be able to sign in using either your password or Google OAuth.") }}
            </p>
            <div class="govuk-inset-text">
                {{ _("Your password must meet the following requirements:") }}
                {{ password_help|safe }}
            </div>
            <form method="POST" novalidate>
                {{ form.hidden_tag() }}
                {% from "components/govuk_password_input.html" import govuk_password_input %}
                {{ govuk_password_input(form.new_password, autocomplete="new-password") }}
                {{ govuk_password_input(form.new_password_confirm, autocomplete="new-password") }}
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">{{ _("Set password") }}</button>
                    <a href="{{ url_for('profile.view') }}" class="govuk-link">{{ _("Cancel") }}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
