{% extends "base.html" %}
{% block title %}{{ _("My Account") }} - OpenDLP{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ _("My Account") }}</h1>
            <h2 class="govuk-heading-m">{{ _("Profile Information") }}</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ _("Email address") }}</dt>
                    <dd class="govuk-summary-list__value">
                        {{ current_user.email }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ _("First Name") }}</dt>
                    <dd class="govuk-summary-list__value">
                        {{ current_user.first_name if current_user.first_name else _("Not set") }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ _("Last Name") }}</dt>
                    <dd class="govuk-summary-list__value">
                        {{ current_user.last_name if current_user.last_name else _("Not set") }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ _("Role") }}</dt>
                    <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--blue">{{ current_user.global_role.value }}</strong>
                    </dd>
                </div>
            </dl>
            <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ _("Authentication Methods") }}</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ _("Password") }}</dt>
                    <dd class="govuk-summary-list__value">
                        {% if current_user.password_hash %}
                            <strong class="govuk-tag govuk-tag--green">{{ _("Active") }}</strong>
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">{{ _("Not set") }}</strong>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% if current_user.password_hash and current_user.oauth_provider %}
                            <form method="POST"
                                action="{{ url_for('profile.remove_password') }}"
                                style="display: inline"
                                onsubmit="return confirm('{{ _("Are you sure you want to remove password authentication? You will only be able to sign in with Google.") }}');">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <button type="submit"
                                    class="govuk-link govuk-!-font-size-19"
                                    style="border: none;
                                        background: none;
                                        cursor: pointer;
                                        text-decoration: underline">{{ _("Remove") }}</button>
                            </form>
                        {% elif not current_user.password_hash %}
                            {% if current_user.oauth_provider %}
                                <a href="{{ url_for('profile.set_password') }}" class="govuk-link">{{ _("Set password") }}</a>
                            {% else %}
                                <span class="govuk-hint govuk-!-font-size-16">{{ _("No password set") }}</span>
                            {% endif %}
                        {% endif %}
                    </dd>
                </div>
                {% if config.OAUTH_GOOGLE_CLIENT_ID %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{{ _("Google OAuth") }}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if current_user.oauth_provider == 'google' %}
                                <strong class="govuk-tag govuk-tag--green">{{ _("Active") }}</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">{{ _("Not linked") }}</strong>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if current_user.oauth_provider == 'google' %}
                                {% if current_user.password_hash %}
                                    <form method="POST"
                                        action="{{ url_for('profile.remove_oauth') }}"
                                        style="display: inline"
                                        onsubmit="return confirm('{{ _("Are you sure you want to unlink your Google account? You will only be able to sign in with your password.") }}');">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button type="submit"
                                            class="govuk-link govuk-!-font-size-19"
                                            style="border: none;
                                                background: none;
                                                cursor: pointer;
                                                text-decoration: underline">{{ _("Unlink") }}</button>
                                    </form>
                                {% else %}
                                    <span class="govuk-hint govuk-!-font-size-16">{{ _("Only authentication method") }}</span>
                                {% endif %}
                            {% elif not current_user.oauth_provider and config.OAUTH_GOOGLE_CLIENT_ID %}
                                <form style="display: inline"
                                    action="{{ url_for('profile.link_google') }}"
                                    method="get">
                                    <div class="govuk-!-margin-top-6">
                                        <button class="gsi-material-button">
                                            <div class="gsi-material-button-state"></div>
                                            <div class="gsi-material-button-content-wrapper">
                                                <div class="gsi-material-button-icon">
                                                    <svg version="1.1"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 48 48"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        style="display: block">
                                                        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                                        </path>
                                                        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                                        </path>
                                                        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                                        </path>
                                                        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                                        </path>
                                                        <path fill="none" d="M0 0h48v48H0z"></path>
                                                    </svg>
                                                </div>
                                                <span class="gsi-material-button-contents">{{ _("Link Google account") }}</span>
                                                <span style="display: none;">{{ _("Link Google account") }}</span>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            {% elif current_user.oauth_provider and current_user.oauth_provider != 'google' %}
                                <span class="govuk-hint govuk-!-font-size-16">{{ _("Remove %(provider)s first", provider=current_user.oauth_provider.title() ) }}</span>
                            {% endif %}
                        </dd>
                    </div>
                {% endif %}
                {% if config.OAUTH_MICROSOFT_CLIENT_ID %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{{ _("Microsoft OAuth") }}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if current_user.oauth_provider == 'microsoft' %}
                                <strong class="govuk-tag govuk-tag--green">{{ _("Active") }}</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">{{ _("Not linked") }}</strong>
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            {% if current_user.oauth_provider == 'microsoft' %}
                                {% if current_user.password_hash %}
                                    <form method="POST"
                                        action="{{ url_for('profile.remove_oauth') }}"
                                        style="display: inline"
                                        onsubmit="return confirm('{{ _("Are you sure you want to unlink your Microsoft account? You will only be able to sign in with your password.") }}');">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <button type="submit"
                                            class="govuk-link govuk-!-font-size-19"
                                            style="border: none;
                                                background: none;
                                                cursor: pointer;
                                                text-decoration: underline">{{ _("Unlink") }}</button>
                                    </form>
                                {% else %}
                                    <span class="govuk-hint govuk-!-font-size-16">{{ _("Only authentication method") }}</span>
                                {% endif %}
                            {% elif not current_user.oauth_provider and config.OAUTH_MICROSOFT_CLIENT_ID %}
                                <form style="display: inline"
                                    action="{{ url_for('profile.link_microsoft') }}"
                                    method="get">
                                    <div class="govuk-!-margin-top-2">
                                        <button class="gsi-material-button">
                                            <div class="gsi-material-button-state"></div>
                                            <div class="gsi-material-button-content-wrapper">
                                                <div class="gsi-material-button-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 23 23"
                                                        style="display: block">
                                                        <path fill="#f35325" d="M0 0h11v11H0z" />
                                                        <path fill="#81bc06" d="M12 0h11v11H12z" />
                                                        <path fill="#05a6f0" d="M0 12h11v11H0z" />
                                                        <path fill="#ffba08" d="M12 12h11v11H12z" />
                                                    </svg>
                                                </div>
                                                <span class="gsi-material-button-contents">{{ _("Link Microsoft account") }}</span>
                                                <span style="display: none;">{{ _("Link Microsoft account") }}</span>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                            {% elif current_user.oauth_provider and current_user.oauth_provider != 'microsoft' %}
                                <span class="govuk-hint govuk-!-font-size-16">{{ _("Remove %(provider)s first", provider=current_user.oauth_provider.title() ) }}</span>
                            {% endif %}
                        </dd>
                    </div>
                {% endif %}
            </dl>
            <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ _("Security") }}</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ _("Two-Factor Authentication") }}</dt>
                    <dd class="govuk-summary-list__value">
                        {% if current_user.oauth_provider %}
                            <strong class="govuk-tag govuk-tag--grey">{{ _("Not available") }}</strong>
                            <br />
                            <span class="govuk-hint govuk-!-font-size-16">{{ _("OAuth users rely on their provider's security") }}</span>
                        {% elif current_user.totp_enabled %}
                            <strong class="govuk-tag govuk-tag--green">{{ _("Enabled") }}</strong>
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey">{{ _("Disabled") }}</strong>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="{{ url_for('profile.two_factor_settings') }}" class="govuk-link">{{ _("Manage") }}</a>
                    </dd>
                </div>
            </dl>
            <div class="govuk-button-group">
                <a href="{{ url_for('profile.edit') }}"
                    class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">{{ _("Edit profile") }}</a>
                {% if current_user.password_hash %}
                    <a href="{{ url_for('profile.change_password') }}"
                        class="govuk-button govuk-button--secondary"
                        data-module="govuk-button">{{ _("Change password") }}</a>
                {% endif %}
            </div>
            <p class="govuk-body govuk-!-margin-top-6">
                <a href="{{ url_for('main.dashboard') }}" class="govuk-link">{{ _("Back to dashboard") }}</a>
            </p>
        </div>
    </div>
{% endblock %}
