// ABOUTME: Sortition Foundation color palette and brand variables for OpenDLP design system
// ABOUTME: Based on the gov.uk design system with custom Sortition Foundation colors

$hot-pink: rgb(228, 15, 125) !default;
$white: #ffffff;
$black: #000000;
$dark-grey: #473d3dff;
$purple-red: #730045ff;
$blood-red: #910d3fff;
$scarlet-red: #c7003aff;
$red: #ff0026ff;
$burnt-orange: #fe5734ff !default;
$buttermilk: #ffe2aeff;

//Secondary colors
$saffron-yellow: #fda135ff;
$sap-green: #70a311ff;
$woad-blue: #548eb4ff;
