{% extends "base.html" %}
{% block title %}{{ _("Sign in") }} - OpenDLP{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ _("Sign in") }}</h1>
            <form method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="govuk-form-group{% if form.email.errors %} govuk-form-group--error{% endif %}">
                    {{ form.email.label(class="govuk-label govuk-label--m") }}
                    {% if form.email.description %}<div id="email-hint" class="govuk-hint">{{ form.email.description }}</div>{% endif %}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p id="email-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.email(class="govuk-input" + (" govuk-input--error" if form.email.errors else "") ,
                    aria_describedby=("email-hint" if form.email.description else "") + (" email-error" if form.email.errors else "")) }}
                </div>
                <div class="govuk-form-group{% if form.password.errors %} govuk-form-group--error{% endif %}">
                    {{ form.password.label(class="govuk-label govuk-label--m") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p id="password-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password(class="govuk-input" + (" govuk-input--error" if form.password.errors else "") ,
                    aria_describedby=("password-error" if form.password.errors else "")) }}
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        {{ form.remember_me(class="govuk-checkboxes__input") }}
                        {{ form.remember_me.label(class="govuk-label govuk-checkboxes__label") }}
                    </div>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">{{ _("Sign in") }}</button>
            </form>
            {% if config.OAUTH_GOOGLE_CLIENT_ID %}
                <h2 class="govuk-heading-m">{{ _("Or sign in with") }}</h2>
                <form style="display: inline"
                    action="{{ url_for('auth.login_google') }}"
                    method="get">
                    <div class="govuk-!-margin-top-6">
                        <button class="gsi-material-button">
                            <div class="gsi-material-button-state"></div>
                            <div class="gsi-material-button-content-wrapper">
                                <div class="gsi-material-button-icon">
                                    <svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 48 48"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        style="display: block">
                                        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                        </path>
                                        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                        </path>
                                        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                        </path>
                                        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                        </path>
                                        <path fill="none" d="M0 0h48v48H0z"></path>
                                    </svg>
                                </div>
                                <span class="gsi-material-button-contents">{{ _("Sign in with Google") }}</span>
                                <span style="display: none;">{{ _("Sign in with Google") }}</span>
                            </div>
                        </button>
                    </form>
                </div>
            {% endif %}
            <p class="govuk-body govuk-!-margin-top-6">
                <a href="{{ url_for('auth.forgot_password') }}" class="govuk-link">{{ _("Forgot your password?") }}</a>
            </p>
            <div class="govuk-inset-text">
                {{ _("Don't have an account? You need an <strong>invite code</strong> to register.") }}
                <a href="{{ url_for('auth.register') }}" class="govuk-link">{{ _("Register here") }}</a>
            </div>
        </div>
    </div>
{% endblock %}
