{% extends "base.html" %}
{% block title %}{{ _("Register") }} - OpenDLP{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ _("Create an account") }}</h1>
            <div class="govuk-inset-text">
                {{ _("You need an invitation code to create an account. If you do not have one, please contact your administrator.") }}
            </div>
            {% if config.OAUTH_GOOGLE_CLIENT_ID or config.OAUTH_MICROSOFT_CLIENT_ID %}
                <div class="govuk-!-margin-top-6">
                    <h2 class="govuk-heading-m">{{ _("You can register with an external account") }}</h2>
                    {% if config.OAUTH_GOOGLE_CLIENT_ID %}
                        <form style="display: inline"
                            action="{{ url_for('auth.register_google') }}"
                            method="get">
                            <div class="govuk-!-margin-top-6">
                                <button class="gsi-material-button">
                                    <div class="gsi-material-button-state"></div>
                                    <div class="gsi-material-button-content-wrapper">
                                        <div class="gsi-material-button-icon">
                                            <svg version="1.1"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 48 48"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                style="display: block">
                                                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                                </path>
                                                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                                </path>
                                                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                                </path>
                                                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                                </path>
                                                <path fill="none" d="M0 0h48v48H0z"></path>
                                            </svg>
                                        </div>
                                        <span class="gsi-material-button-contents">{{ _("Register with Google") }}</span>
                                        <span style="display: none;">{{ _("Register with Google") }}</span>
                                    </div>
                                </button>
                            </div>
                        </form>
                    {% endif %}
                    {% if config.OAUTH_MICROSOFT_CLIENT_ID %}
                        <form style="display: inline"
                            action="{{ url_for('auth.register_microsoft') }}"
                            method="get">
                            <div class="govuk-!-margin-top-2">
                                <button class="gsi-material-button">
                                    <div class="gsi-material-button-state"></div>
                                    <div class="gsi-material-button-content-wrapper">
                                        <div class="gsi-material-button-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 23 23"
                                                style="display: block">
                                                <path fill="#f35325" d="M0 0h11v11H0z" />
                                                <path fill="#81bc06" d="M12 0h11v11H12z" />
                                                <path fill="#05a6f0" d="M0 12h11v11H0z" />
                                                <path fill="#ffba08" d="M12 12h11v11H12z" />
                                            </svg>
                                        </div>
                                        <span class="gsi-material-button-contents">{{ _("Register with Microsoft") }}</span>
                                        <span style="display: none;">{{ _("Register with Microsoft") }}</span>
                                    </div>
                                </button>
                            </div>
                        </form>
                    {% endif %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ _("Or you can register with an email and password") }}</h2>
                </div>
            {% endif %}
            <form method="POST" class="govuk-!-margin-top-6" novalidate>
                {{ form.hidden_tag() }}
                <div class="govuk-form-group{% if form.invite_code.errors %} govuk-form-group--error{% endif %}">
                    {{ form.invite_code.label(class="govuk-label govuk-label--m") }}
                    {% if form.invite_code.description %}
                        <div id="invite-hint" class="govuk-hint">{{ form.invite_code.description }}</div>
                    {% endif %}
                    {% if form.invite_code.errors %}
                        {% for error in form.invite_code.errors %}
                            <p id="invite-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.invite_code(class="govuk-input" + (" govuk-input--error" if form.invite_code.errors else "") ,
                    aria_describedby=("invite-hint" if form.invite_code.description else "") + (" invite-error" if form.invite_code.errors else "")) }}
                </div>
                <div class="govuk-form-group{% if form.first_name.errors %} govuk-form-group--error{% endif %}">
                    {{ form.first_name.label(class="govuk-label govuk-label--m") }}
                    {% if form.first_name.description %}
                        <div id="first-name-hint" class="govuk-hint">{{ form.first_name.description }}</div>
                    {% endif %}
                    {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                            <p id="first-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                        {{ password_help }}
                    {% endif %}
                    {{ form.first_name(class="govuk-input" + (" govuk-input--error" if form.first_name.errors else "") ,
                    aria_describedby=("first-name-hint" if form.first_name.description else "") + (" first-name-error" if form.first_name.errors else "")) }}
                </div>
                <div class="govuk-form-group{% if form.last_name.errors %} govuk-form-group--error{% endif %}">
                    {{ form.last_name.label(class="govuk-label govuk-label--m") }}
                    {% if form.last_name.description %}
                        <div id="last-name-hint" class="govuk-hint">{{ form.last_name.description }}</div>
                    {% endif %}
                    {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                            <p id="last-name-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.last_name(class="govuk-input" + (" govuk-input--error" if form.last_name.errors else "") ,
                    aria_describedby=("last-name-hint" if form.last_name.description else "") + (" last-name-error" if form.last_name.errors else "")) }}
                </div>
                <div class="govuk-form-group{% if form.email.errors %} govuk-form-group--error{% endif %}">
                    {{ form.email.label(class="govuk-label govuk-label--m") }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p id="email-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.email(class="govuk-input" + (" govuk-input--error" if form.email.errors else "") ,
                    aria_describedby=("email-error" if form.email.errors else "")) }}
                </div>
                <div class="govuk-form-group{% if form.password.errors %} govuk-form-group--error{% endif %}">
                    {{ form.password.label(class="govuk-label govuk-label--m") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p id="password-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password(class="govuk-input" + (" govuk-input--error" if form.password.errors else "") ,
                    aria_describedby=("password-error" if form.password.errors else "")) }}
                </div>
                <div class="govuk-form-group{% if form.password_confirm.errors %} govuk-form-group--error{% endif %}">
                    {{ form.password_confirm.label(class="govuk-label govuk-label--m") }}
                    {% if form.password_confirm.errors %}
                        {% for error in form.password_confirm.errors %}
                            <p id="password-confirm-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password_confirm(class="govuk-input" + (" govuk-input--error" if form.password_confirm.errors else "") ,
                    aria_describedby=("password-confirm-error" if form.password_confirm.errors else "")) }}
                </div>
                <div class="govuk-form-group{% if form.accept_data_agreement.errors %} govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset"
                        aria-describedby="data-agreement-hint{% if form.accept_data_agreement.errors %} data-agreement-error{% endif %}">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ _("Data Agreement") }}</legend>
                        <div id="data-agreement-hint" class="govuk-hint">
                            {{ _("Please read and accept our data agreement to proceed.") }}
                            <a href="{{ url_for('auth.user_data_agreement') }}"
                                class="govuk-link"
                                target="_blank"
                                rel="noopener noreferrer">{{ _("View data agreement") }}</a>
                        </div>
                        {% if form.accept_data_agreement.errors %}
                            {% for error in form.accept_data_agreement.errors %}
                                <p id="data-agreement-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">{{ _("Error") }}:</span> {{ error }}
                                </p>
                            {% endfor %}
                        {% endif %}
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                {{ form.accept_data_agreement(class="govuk-checkboxes__input") }}
                                {{ form.accept_data_agreement.label(class="govuk-label govuk-checkboxes__label") }}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">{{ _("Create account") }}</button>
            </form>
            <p class="govuk-body govuk-!-margin-top-6">
                {{ _("Already have an account?") }} <a href="{{ url_for('auth.login') }}" class="govuk-link">{{ _("Sign in") }}</a>
            </p>
        </div>
    </div>
{% endblock %}
