{% extends "base.html" %}

{% block title %}{{ _('Reset Password') }} - OpenDLP{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ _('Set new password') }}</h1>

            <p class="govuk-body">
                {{ _('Enter your new password below.') }}
            </p>

            {% if password_help %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        {{ _('Password requirements') }}
                    </strong>
                </div>
                <div class="govuk-inset-text">
                    {{ password_help|safe }}
                </div>
            {% endif %}

            <form method="POST" novalidate>
                {{ form.hidden_tag() }}

                <div class="govuk-form-group{% if form.password.errors %} govuk-form-group--error{% endif %}">
                    {{ form.password.label(class="govuk-label govuk-label--m") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <p id="password-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password(class="govuk-input" + (" govuk-input--error" if form.password.errors else ""),
                    aria_describedby=("password-error" if form.password.errors else "")) }}
                </div>

                <div class="govuk-form-group{% if form.password_confirm.errors %} govuk-form-group--error{% endif %}">
                    {{ form.password_confirm.label(class="govuk-label govuk-label--m") }}
                    {% if form.password_confirm.errors %}
                        {% for error in form.password_confirm.errors %}
                            <p id="password-confirm-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password_confirm(class="govuk-input" + (" govuk-input--error" if form.password_confirm.errors else ""),
                    aria_describedby=("password-confirm-error" if form.password_confirm.errors else "")) }}
                </div>

                <button type="submit" class="govuk-button" data-module="govuk-button">
                    {{ _('Reset password') }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
