{% extends "base.html" %}

{% block title %}{{ _('Reset Password') }} - OpenDLP{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ _('Set new password') }}</h1>

            <p class="govuk-body">
                {{ _('Enter your new password below.') }}
            </p>

            {% if password_help %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        {{ _('Password requirements') }}
                    </strong>
                </div>
                <div class="govuk-inset-text">
                    {{ password_help|safe }}
                </div>
            {% endif %}

            <form method="POST" novalidate>
                {{ form.hidden_tag() }}

                {% from "components/govuk_password_input.html" import govuk_password_input %}
                {{ govuk_password_input(form.password, autocomplete="new-password") }}

                {{ govuk_password_input(form.password_confirm, autocomplete="new-password") }}

                <button type="submit" class="govuk-button" data-module="govuk-button">
                    {{ _('Reset password') }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}
