{% extends "main/view_assembly_base.html" %}
{% block title %}{{ _("Selection") }} - {{ assembly.title }} - OpenDLP{% endblock %}
{% block assembly_breadcrumbs %}
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
            href="{{ url_for('main.view_assembly_data', assembly_id=assembly.id) }}">{{ _("Data & Selection") }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">{{ _("Selection") }}</li>
{% endblock %}
{% block assembly_content %}
    <h2 class="govuk-heading-m">{{ _("Selection") }}</h2>
    <p class="govuk-body">
        {{ _("Run the democratic lottery selection for this assembly using Google Spreadsheet data.") }}
    </p>
    <p class="govuk-body">
        {{ _('Selection will be for <b>%(number_to_select)s people</b>.', number_to_select=assembly.number_to_select) }}
        {% if not run_record or run_record.has_finished %}
            <a href="{{ url_for('main.edit_assembly', assembly_id=assembly.id) }}">{{ _("Edit the number.") }}</a>
        {% endif %}
    </p>
    <div class="govuk-button-group govuk-button-group-mixed govuk-!-margin-top-6">
        {% if not run_record or run_record.has_finished %}
            <form action="{{ url_for('gsheets.start_gsheet_select', assembly_id=assembly.id) }}"
                method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="test_selection" value="0" />
                <button type="submit" class="govuk-button">{{ _("Run Selection") }}</button>
            </form>
            <form action="{{ url_for('gsheets.start_gsheet_select', assembly_id=assembly.id) }}"
                method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="hidden" name="test_selection" value="1" />
                <button type="submit" class="govuk-button govuk-button--secondary">{{ _("Run Test Selection") }}</button>
            </form>
            <form action="{{ url_for('gsheets.start_gsheet_load', assembly_id=assembly.id) }}"
                method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="govuk-button govuk-button--secondary">
                    {% if not run_record %}
                        {{ _("Check Spreadsheet") }}
                    {% else %}
                        {{ _("Re-check Spreadsheet") }}
                    {% endif %}
                </button>
            </form>
            <a href="{{ url_for('gsheets.manage_assembly_gsheet_tabs', assembly_id=assembly.id) }}"
                class="govuk-button govuk-button--secondary">{{ _("Manage Generated Tabs") }}</a>
        {% else %}
            <button class="govuk-button" disabled>
                {% if run_record.task_type.value == "load_gsheet" %}
                    {{ _("Checking Google Spreadsheet") }}
                {% elif run_record.task_type.value == "select_gsheet" %}
                    {{ _("Running Selection with Google Spreadsheet") }}
                {% elif run_record.task_type.value == "test_select_gsheet" %}
                    {{ _("Running Test Selection with Google Spreadsheet") }}
                {% else %}
                    {{ _("Task in Progress...") }}
                {% endif %}
            </button>
        {% endif %}
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% if gsheet %}
        {% include "gsheets/components/view_config_collapsed.html" %}
    {% endif %}
    <div class="govuk-!-margin-bottom-6">{% include "gsheets/components/progress.html" %}</div>
{% endblock %}
