{% extends "main/view_assembly_base.html" %}
{% block title %}{{ _("Selection Settings") }} - {{ assembly.title }} - OpenDLP{% endblock %}
{% block assembly_breadcrumbs %}
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"
           href="{{ url_for('db_selection.view_db_selection', assembly_id=assembly.id) }}">{{ _("Selection (DB)") }}</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">{{ _("Settings") }}</li>
{% endblock %}
{% block assembly_content %}
    <h2 class="govuk-heading-m">{{ _("Selection Settings") }}</h2>
    <p class="govuk-body">
        {{ _("Configure how the selection runs for this assembly.") }}
    </p>

    <form method="post"
          action="{{ url_for('db_selection.save_db_selection_settings', assembly_id=assembly.id) }}"
          novalidate>
        {{ form.hidden_tag() }}

        <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                {{ form.check_same_address(class="govuk-checkboxes__input") }}
                <label class="govuk-label govuk-checkboxes__label"
                       for="{{ form.check_same_address.id }}">{{ form.check_same_address.label.text }}</label>
                <div class="govuk-hint govuk-checkboxes__hint">{{ form.check_same_address.description }}</div>
            </div>
        </div>

        {% if available_columns %}
            <details class="govuk-details govuk-!-margin-bottom-4">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">{{ _("Available respondent attributes") }}</span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body-s">{{ _("The following attribute names are available from the uploaded respondent data:") }}</p>
                    <code>{{ available_columns | join(", ") }}</code>
                </div>
            </details>
        {% else %}
            <div class="govuk-inset-text">
                {{ _("No respondent data has been uploaded yet. Attribute validation will be skipped.") }}
            </div>
        {% endif %}

        <div class="govuk-form-group {% if form.check_same_address_cols_string.errors %}govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="{{ form.check_same_address_cols_string.id }}">
                {{ form.check_same_address_cols_string.label.text }}
            </label>
            <div class="govuk-hint">{{ form.check_same_address_cols_string.description }}</div>
            {% if form.check_same_address_cols_string.errors %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.check_same_address_cols_string.errors[0] }}
                </p>
            {% endif %}
            {{ form.check_same_address_cols_string(class="govuk-input" + (" govuk-input--error" if form.check_same_address_cols_string.errors else "")) }}
        </div>

        <div class="govuk-form-group {% if form.columns_to_keep_string.errors %}govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-label--s" for="{{ form.columns_to_keep_string.id }}">
                {{ form.columns_to_keep_string.label.text }}
            </label>
            <div class="govuk-hint">{{ form.columns_to_keep_string.description }}</div>
            {% if form.columns_to_keep_string.errors %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ form.columns_to_keep_string.errors[0] }}
                </p>
            {% endif %}
            {{ form.columns_to_keep_string(class="govuk-input" + (" govuk-input--error" if form.columns_to_keep_string.errors else "")) }}
        </div>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button">{{ _("Save Settings") }}</button>
            <a href="{{ url_for('db_selection.view_db_selection', assembly_id=assembly.id) }}" class="govuk-link">{{ _("Cancel") }}</a>
        </div>
    </form>
{% endblock %}
