{% extends "base.html" %}

{% block title %}{{ _('Assemblies') }} - OpenDLP{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="{{ url_for('main.dashboard') }}">{{ _('Dashboard') }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        {{ _('Assemblies') }}
                    </li>
                </ol>
            </div>

            <div class="govuk-!-margin-top-6">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl">{{ _('Assemblies') }}</h1>
                        <p class="govuk-body-l">{{ _('Manage and view your citizens\' assemblies.') }}</p>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        {% if current_user.global_role.value in ['admin', 'global-organiser'] %}
                        <div class="govuk-!-text-align-right">
                            <a href="{{ url_for('main.create_assembly_page') }}"
                               class="govuk-button"
                               data-module="govuk-button">
                                {{ _('Create Assembly') }}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% if assemblies %}
                    <div class="govuk-grid-row">
                        {% for assembly in assemblies %}
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
                            <div class="assembly-card govuk-!-padding-4" style="border: 2px solid #f3f2f1; border-radius: 5px;">
                                <h3 class="govuk-heading-m">
                                    <a href="{{ url_for('main.view_assembly', assembly_id=assembly.id) }}" class="govuk-link">
                                        {{ assembly.title }}
                                    </a>
                                </h3>

                                {% if assembly.question %}
                                <p class="govuk-body-s">{{ assembly.question[:200] }}{% if assembly.question|length > 200 %}...{% endif %}</p>
                                {% endif %}

                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key govuk-body-s">{{ _('Status') }}</dt>
                                        <dd class="govuk-summary-list__value">
                                            <strong class="govuk-tag govuk-tag--green">{{ assembly.status.value }}</strong>
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key govuk-body-s">{{ _('Created') }}</dt>
                                        <dd class="govuk-summary-list__value govuk-body-s">{{ assembly.created_at.strftime('%d %B %Y') }}</dd>
                                    </div>
                                    {% if assembly.first_assembly_date %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key govuk-body-s">{{ _('Starts') }}</dt>
                                        <dd class="govuk-summary-list__value govuk-body-s">{{ assembly.first_assembly_date.strftime('%d %B %Y') }}</dd>
                                    </div>
                                    {% endif %}
                                    {% if assembly.gsheet %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key govuk-body-s">{{ _('Google Sheets') }}</dt>
                                        <dd class="govuk-summary-list__value govuk-body-s">{{ _('Connected') }}</dd>
                                    </div>
                                    {% endif %}
                                </dl>

                                <div class="govuk-button-group">
                                    <a href="{{ url_for('main.view_assembly', assembly_id=assembly.id) }}"
                                       class="govuk-button govuk-button--secondary">
                                        {{ _('View Details') }}
                                    </a>
                                    <a href="{{ url_for('main.edit_assembly', assembly_id=assembly.id) }}"
                                       class="govuk-button govuk-button--secondary">
                                        {{ _('Edit') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="govuk-!-text-align-centre govuk-!-margin-top-9">
                        <h2 class="govuk-heading-m">{{ _('You don\'t have access to any assemblies') }}</h2>
                        <p class="govuk-body">{{ _('There are no assemblies available for you to view at the moment.') }}</p>
                        {% if current_user.global_role.value in ['admin', 'global-organiser'] %}
                        <p class="govuk-body">{{ _('As a %(role)s, you can create new assemblies.', role=current_user.global_role.value) }}</p>
                        <a href="{{ url_for('main.create_assembly_page') }}"
                           class="govuk-button govuk-!-margin-top-3"
                           data-module="govuk-button">
                            {{ _('Create Your First Assembly') }}
                        </a>
                        {% else %}
                        <p class="govuk-body">{{ _('Contact an administrator to be added to an assembly.') }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
