{% extends "base.html" %}
{% block title %}{{ _("Dashboard") }} - OpenDLP{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{ _("Dashboard") }}</h1>
                <p class="govuk-body">{{ _("Welcome back") }}, {{ current_user.display_name }}!</p>
            </div>
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <!-- Assemblies Section -->
    <div class="govuk-grid-row">
        <div class="govuk-!-margin-bottom-4">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">{{ _("Your Assemblies") }}</h2>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-!-text-align-right">
                    {% if current_user.global_role.value in ['admin', 'global-organiser'] %}
                        <a href="{{ url_for('main.create_assembly_page') }}"
                            class="govuk-button"
                            data-module="govuk-button">{{ _("Create Assembly") }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if assemblies %}
        <div class="govuk-grid-row assembly-cards-container">
            {% for assembly in assemblies %}
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-4">
                    <a href="{{ url_for('main.view_assembly', assembly_id=assembly.id) }}"
                        class="assembly-card-link">
                        <div class="assembly-card">
                            <h3 class="govuk-heading-m">{{ assembly.title }}</h3>
                            {% if assembly.question %}
                                <p class="govuk-body-s">
                                    {{ assembly.question[:100] }}
                                    {% if assembly.question|length > 100 %}...{% endif %}
                                </p>
                            {% endif %}
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">{{ _("Created") }}</dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ assembly.created_at.strftime("%b %d, %Y") }}
                                    </dd>
                                </div>
                                {% if assembly.first_assembly_date %}
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">{{ _("Starts") }}</dt>
                                        <dd class="govuk-summary-list__value">
                                            {{ assembly.first_assembly_date.strftime("%b %d") }}
                                        </dd>
                                    </div>
                                {% endif %}
                            </dl>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="govuk-inset-text">
            <h3 class="govuk-heading-m">{{ _("No assemblies yet") }}</h3>
            <p class="govuk-body">{{ _("You don't have access to any assemblies at the moment.") }}</p>
            {% if current_user.global_role.value in ['admin', 'global-organiser'] %}
                <p class="govuk-body">{{ _('As a %(role)s, you can create new assemblies.', role=current_user.global_role.value) }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
