{% extends "base.html" %}

{% block title %}Configure Selection - {{ assembly.title }} - OpenDLP{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="{{ url_for('main.dashboard') }}">{{ _('Dashboard') }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="{{ url_for('main.view_assembly', assembly_id=assembly.id) }}">{{ assembly.title }}</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        {{ _('Configure Selection') }}
                    </li>
                </ol>
            </div>

            <div class="main govuk-!-margin-top-6">
                <h2 class="govuk-heading-l">{{ _('Configure Selection') }}</h2>
                <p class="govuk-body">{{ _('Configure the selection process for') }} <strong>{{ assembly.title }}</strong></p>

                <form method="POST" novalidate>
                    {{ form.hidden_tag() }}

                    <div class="govuk-form-group {% if form.respondents_tab.errors %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--m" for="{{ form.respondents_tab.id }}">
                            {{ form.respondents_tab.label.text }}
                        </label>
                        {% if form.respondents_tab.description %}
                        <div class="govuk-hint">
                            {{ form.respondents_tab.description }}
                        </div>
                        {% endif %}
                        {% if form.respondents_tab.errors %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ form.respondents_tab.errors[0] }}
                        </p>
                        {% endif %}
                        {{ form.respondents_tab(class="govuk-input" + (" govuk-input--error" if form.respondents_tab.errors else "")) }}
                    </div>

                    <div class="govuk-form-group {% if form.categories_tab.errors %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--m" for="{{ form.categories_tab.id }}">
                            {{ form.categories_tab.label.text }}
                        </label>
                        {% if form.categories_tab.description %}
                        <div class="govuk-hint">
                            {{ form.categories_tab.description }}
                        </div>
                        {% endif %}
                        {% if form.categories_tab.errors %}
                        <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {{ form.categories_tab.errors[0] }}
                        </p>
                        {% endif %}
                        {{ form.categories_tab(class="govuk-input" + (" govuk-input--error" if form.categories_tab.errors else "")) }}
                    </div>

                    <div class="govuk-form-group {% if form.generate_remaining.errors %}govuk-form-group--error{% endif %}">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h3 class="govuk-fieldset__heading">
                                    {{ _('Selection Options') }}
                                </h3>
                            </legend>
                            {% if form.generate_remaining.errors %}
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {{ form.generate_remaining.errors[0] }}
                            </p>
                            {% endif %}
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    {{ form.generate_remaining(class="govuk-checkboxes__input") }}
                                    {{ form.generate_remaining.label(class="govuk-label govuk-checkboxes__label") }}
                                    {% if form.generate_remaining.description %}
                                    <div class="govuk-hint govuk-checkboxes__hint">
                                        {{ form.generate_remaining.description }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="govuk-button-group govuk-!-margin-top-6">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            {{ _('Run Selection') }}
                        </button>
                        <a class="govuk-button govuk-button--secondary"
                           href="{{ url_for('main.view_assembly', assembly_id=assembly.id) }}">
                            {{ _('Cancel') }}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
