{% extends "main/view_assembly_base.html" %}
{% block assembly_breadcrumbs %}<li class="govuk-breadcrumbs__list-item">{{ _("Team Members") }}</li>{% endblock %}
{% block assembly_content %}
    <h2 class="govuk-heading-m">{{ _("Team Members") }}</h2>
    {# Team Members Table #}
    {% if assembly_users %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">{{ _("User") }}</th>
                    <th scope="col" class="govuk-table__header">{{ _("Email") }}</th>
                    <th scope="col" class="govuk-table__header">{{ _("Role") }}</th>
                    {% if can_manage_assembly_users %}<th scope="col" class="govuk-table__header">{{ _("Actions") }}</th>{% endif %}
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for user, role in assembly_users %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ user.display_name }}</td>
                        <td class="govuk-table__cell">{{ user.email }}</td>
                        <td class="govuk-table__cell">{{ role.role.value }}</td>
                        {% if can_manage_assembly_users %}
                            <td class="govuk-table__cell">
                                <form method="post"
                                    action="{{ url_for('main.remove_user_from_assembly', assembly_id=assembly.id, user_id=user.id) }}"
                                    style="display: inline">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <button type="submit"
                                        class="govuk-button govuk-button--warning"
                                        data-confirm="{{ _('Are you sure you want to remove %(user)s from this assembly?', user=user.display_name) }}">
                                        {{ _("Remove") }}
                                    </button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="govuk-body">
            {{ _("No team members have been added to this assembly yet. Admin users can still manage this assembly.") }}
        </p>
    {% endif %}
    {# Add User Form #}
    {% if can_manage_assembly_users %}
        <div class="govuk-details govuk-!-margin-top-6">
            <h2 class="govuk-heading-m">{{ _("Add User to Assembly") }}</h2>
            <form method="post"
                action="{{ url_for('main.add_user_to_assembly', assembly_id=assembly.id) }}">
                {{ add_user_form.hidden_tag() }}
                <div class="govuk-form-group">
                    <label class="govuk-label" for="user_search">{{ add_user_form.user_id.label }}</label>
                    {% if add_user_form.user_id.description %}
                        <div class="govuk-hint">{{ add_user_form.user_id.description }}</div>
                    {% endif %}
                    <input type="text"
                        class="govuk-input"
                        id="user_search"
                        name="user_search"
                        placeholder="{{ _('Type to search by email or name...') }}"
                        hx-get="{{ url_for('main.search_users', assembly_id=assembly.id) }}"
                        hx-trigger="keyup changed delay:300ms"
                        hx-target="#user-results">
                    <input type="hidden" id="user_id" name="user_id" value="">
                    <div id="user-results" class="govuk-!-margin-top-2"></div>
                    {% if add_user_form.user_id.errors %}
                        <div class="govuk-error-message">
                            {% for error in add_user_form.user_id.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>
                <fieldset class="govuk-fieldset govuk-!-margin-top-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">{{ add_user_form.role.label }}</legend>
                    {% if add_user_form.role.description %}<div class="govuk-hint">{{ add_user_form.role.description }}</div>{% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        {% for value, label in add_user_form.role.choices %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                    id="role_{{ loop.index }}"
                                    name="{{ add_user_form.role.name }}"
                                    type="radio"
                                    value="{{ value }}"
                                    {% if add_user_form.role.data and add_user_form.role.data.name == value %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="role_{{ loop.index }}">{{ label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% if add_user_form.role.errors %}
                        <div class="govuk-error-message">
                            {% for error in add_user_form.role.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </fieldset>
                <button type="submit" class="govuk-button govuk-!-margin-top-4">{{ _("Add User to Assembly") }}</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
