{#
ABOUTME: Backoffice list of an assembly's registration pages
ABOUTME: One row per page with status, publish date and a per-row actions menu
#}
{% extends "backoffice/base_page.html" %}
{% from "backoffice/components/page_header.html" import page_header %}
{% from "backoffice/components/registration_page_list.html" import registration_page_list %}
{% from "backoffice/components/assembly_tabs.html" import assembly_tabs %}
{% block title %}{{ assembly.title }} - Registration{% endblock %}
{% block page_header %}
    <div class="max-w-screen-2xl mx-auto px-6 pt-4 w-full">
        {{ page_header(title=assembly.title,
        back_href=url_for('backoffice.dashboard'),
        back_label=_("Back to dashboard")) }}
        <div class="mt-4">
            {{ assembly_tabs(assembly=assembly,
            active_tab="registration",
            data_source=data_source|default(""),
            gsheet=gsheet|default(none),
            targets_enabled=targets_enabled|default(false),
            respondents_enabled=respondents_enabled|default(false),
            selection_enabled=selection_enabled|default(false)) }}
        </div>
    </div>
{% endblock %}
{% block page_content %}
    {{ registration_page_list(assembly, page_rows) }}
{% endblock %}
