{% extends "backoffice/base.html" %}

{% from "backoffice/showcase/primitive_tokens.html" import primitive_tokens_section %}
{% from "backoffice/showcase/semantic_tokens.html" import semantic_tokens_section %}
{% from "backoffice/showcase/spacing.html" import spacing_section %}
{% from "backoffice/showcase/responsive.html" import responsive_section %}
{% from "backoffice/showcase/typography.html" import typography_section %}
{% from "backoffice/showcase/button_component.html" import button_section %}
{% from "backoffice/showcase/input_component.html" import input_section %}
{% from "backoffice/showcase/card_component.html" import card_section %}
{% from "backoffice/showcase/navigation_component.html" import navigation_section %}
{% from "backoffice/showcase/breadcrumb_component.html" import breadcrumb_section %}
{% from "backoffice/showcase/alert_component.html" import alert_section %}
{% from "backoffice/showcase/interactivity.html" import interactivity_section %}

{% block title %}Component Showcase{% endblock %}

{% block content %}
    <h1 class="text-display-lg" style="color: var(--color-headings);">Component Showcase</h1>
    <p class="text-body-lg mt-2 mb-8" style="color: var(--color-secondary-text);">Backoffice design system using Pines UI + Tailwind CSS</p>

    {{ primitive_tokens_section() }}
    {{ semantic_tokens_section() }}
    {{ spacing_section() }}
    {{ responsive_section() }}
    {{ typography_section() }}
    {{ button_section() }}
    {{ input_section() }}
    {{ card_section() }}
    {{ navigation_section() }}
    {{ breadcrumb_section() }}
    {{ alert_section() }}
    {{ interactivity_section() }}

{% endblock %}
