{% extends "base_public.html" %}
{% block extra_head %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block title %}{{ _("Thank You") }} - OpenDLP{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" style="float: none; margin: 0 auto;">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">{{ _("Thank you for registering") }}</h1>
                <div class="govuk-panel__body">{{ _("Your registration has been received") }}</div>
            </div>
            <p class="govuk-body">{{ _("We'll be in touch.") }}</p>
            {% if referer %}
                <p class="govuk-body">
                    <a class="govuk-link" href="{{ referer }}">{{ _("Please click here if you wish to start a new registration.") }}</a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
